version: '3.8'

services:
  # 1. The Database
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  # 2. The Python Backend
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
    # This tells Python to talk to the "mongodb" container, not "localhost"
    environment:
      - MONGO_URL=mongodb://mongodb:27017/

  # 3. The React Frontend
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo-data: